<div class="dashboard-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="logo">💰 <span>CROWDFUNDING</span></div>
    <nav class="nav">
      <a class="nav-link" [routerLink]="['/profile']">
        <span class="icon">👤</span>
        <span class="label">Profil</span>
      </a>
      <button class="nav-link">
        <span class="icon">📄</span>
        <span class="label">Listes des projets</span>
      </button>
      <a class="nav-link" [routerLink]="['/accord']">
        <span class="icon">🤝</span>
        <span class="label">Affecter accord</span>
      </a>
      <a class="nav-link" [routerLink]="['/contrat']">
        <span class="icon">📄</span>
        <span class="label">Créer contrat</span>
      </a>
      
    
      <a class="nav-link" [routerLink]="['/procédure']">
        <span class="icon">💰</span>
        <span class="label">Envoyer procédures </span>
      </a>
     
      
     <a class="nav-link" [routerLink]="['/dossiers']">
  <span class="icon">🗂️<i class="fas fa-folder-open"></i></span>
  <span class="label">Dossiers</span>
</a>
    </nav>
  </aside>

  <!-- Main content -->
  <div class="main-content">
    <header class="header">
      <div class="user-info">
      
        <span class="user-name"></span>
      
        <button  (click)="logout()" class="logout-btn">
          <span class="logout-icon">🚪</span>
          <span class="logout-text">Déconnexion</span>
        </button>
              </div>
    </header>

    <section class="dashboard-stats">
      <h2 class="section-title">Tableau de bord - Investisseur</h2>
      <div class="stats-grid">
        <div class="stat-card">
          <h3>projet</h3>
          <p>12</p>
          <p>Affectation : ✔</p>
          <button class="btn">Voir</button>
        </div>
        <div class="stat-card">
          <h3>Les etudes</h3>
          <p>5</p>
          <p>Affectation : ✔</p>
          <button class="btn">Voir</button>
        </div>
        
        <div class="stat-card">
          <h3>Contrats</h3>
          <p>20</p>
          <p>Affectation : ✖</p>
          <button class="btn">Voir</button>
        </div>
      </div>
    </section>

    
    <router-outlet></router-outlet>
  </div>
</div>