<nav class="navbar">
    <div class="logo">
      <img src="assets/crowd.png" alt="Crowdfunding App Logo">
      <div class="logo-text">
        <span class="logo-title">CROWDFUNDING</span>
        <span class="logo-slogan">Bring ideas to life</span>
      </div>
    </div>
    
    <div class="nav-links">
      <a routerLink="/" class="nav-item">Home</a>
    </div>
    
    <div class="auth-buttons">
      
      <a routerLink="/signup" class="btn-register">SignUp</a>
      <a routerLink="/login" class="btn-login">Log In</a>
    </div>
  </nav>