<div *ngIf="showResetPasswordForm" class="reset-container">
    <div class="reset-card">
      <h2>Réinitialiser le mot de passe</h2>
      <form (ngSubmit)="resetPassword(newPassword.value, confirmPassword.value)">
        <div class="input-group">
          <label for="newPassword">Nouveau mot de passe</label>
          <input type="password" id="newPassword" #newPassword required />
        </div>
        <div class="input-group">
          <label for="confirmPassword">Confirmer le mot de passe</label>
          <input type="password" id="confirmPassword" #confirmPassword required />
        </div>
        <button class="btn" type="submit">Réinitialiser</button>
      </form>
    </div>
  </div>
  
  <div *ngIf="message" class="message">
    <p>{{ message }}</p>
  </div>